.C-tit{
    color: rgb(0, 0, 0);
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: aqua;
    margin-bottom: 20px;
}
textarea{
    background-color:white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: aqua;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
input:focus-within{
    outline: none;
    border-color:rgb(12, 163, 163);
    border-width: 3px; 
}
textarea:focus-within{
    outline: none;
    border-color: rgb(12, 163, 163);
    border-width: 3px; 
}
.C-btn{
    background-color: rgb(219, 218, 217);
    border-radius: 20px;
    border-color: rgb(34, 33, 33);
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}
.C-btn:hover{
    opacity: 80%;
    cursor: pointer;
}