.Home-container{
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.H-form{
    /* justify-content: center;  
    border-radius: 0.5rem;
    margin-top: 13px;
    padding: 2rem 1.5rem; */
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.1); */
    width: 100%;
    height: 100vh; 
}
.MainHome hr{
    height: 2px;
    width: 180vh;
    margin: 3vh;
    border: 1px;
    border-radius: 50%;
    background: rgb(31, 6, 175);
}
/* .Backkground{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url(../assets/images/All.jpg );
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    max-width:100%;
} */
.ALL{
     object-fit: contain;
     max-width: 100%;
     height: 100vh;
     max-height: 70vh;
}
/* .Backkground img {
    width: 100%;
    height: auto;
    display: block;
} */
.text-overlap{
    position:relative;
    text-align: start;
    color: bisque;
    padding: 1rem;
    max-width: 90%;
}
 /* .images{
    display: flex;
    justify-content: end;
    align-items: start;
    margin: 0;
    height: 110px;
    width: 100%;
}  */
/* .imagess{
    display: flex;
    justify-content: end;
    align-items: start;
    margin: 0;
    height: 100%;
    width: 50%;
} */
.H-btn{
    color:aqua;
    border: 1px ;
    border-color: none;
    border-radius: 20px;
    background-color: rgb(14, 0, 207);
    height: 50px;
    width: 95px;
    padding-left:10px;
    margin-left: 40px;
    margin-top:30px ;
    font-size: 20px;
    display: inline ;
    align-items: center;
}
.HTW-btn{
    color:aqua;
    border: 1px ;
    border-color: none;
    border-radius: 20px;
    background-color: rgb(14, 0, 207);
    height: 50px;
    width: 95px;
    padding-left:10px;
    margin-left: 40px;
    margin-top:30px ;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.BUTTONS{
    margin-bottom: 10px;
    float: inline-start;
}

 .H-header{
     font-size:50px ;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-left: 10px;
    color: rgb(36, 36, 129);
}
.H-tit{
    font-size:30px ;
    font-weight: 700;
    margin-left: 10px;
    color: rgb(168, 14, 14);
}
.H-Ins{
    font-size:25px ;
    font-weight: 700;
    color: rgb(36, 36, 129);
}
.Ind{
    display: block;
    justify-self: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 200;  
}
.Indd{
    color: rgb(168, 14, 14);
    display: block;
    justify-self: start;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}