*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* .nav-links{
    background: linear-gradient(to Top,rgb(148, 0, 0),rgb(29, 29, 226));
    height: 10vh;
    width: 100%;
    display: flex;
    
} */
.navbar-ul{
    list-style-type: none;
    background: linear-gradient(to Top,rgb(148, 0, 0),rgb(29, 29, 226));
    padding-top: 10px;
    overflow: hidden;
}
.Title{
    color: rgb(238, 233, 233);
    font-size: 80px;
    font-weight: bold;
    margin-top: 18x
}
.navbar-a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 18px;
    display:block;
}
.navbar-a:hover{
    background-color: rgb(25, 0, 116);
    border-radius: 5px;
}
.navbar-li{
    float: inline-end;
}